/* Links importados do Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* Fim */

/* layout */
* {
    margin: 0px;
    padding: 0px;
}

body {
     /* filter
    opacity  efeitos bônus*/
    font-size: 1em;
    background:  #240552 url(/imagens/new-01.webp);
   background-size: 98em;
   background-repeat:repeat-y;
    margin: 0 auto;
}


#area-cabecalho {
    border-radius: 10px 15px;
    background: #2c2a2a;
    padding: 15px 10px;
    text-align: center;
}

#conteudo-central {
    padding: 10px;
    margin: 0 auto;
    width: 920px;
}

/* #conteudo,#conteudo-lateral {  
background: orange;
width: 620px;
}*/

#conteudo {
    float: left;
    width: 660px;
}

    #conteudo-lateral {
    float: right;
    width: 240px;
}

#rodape {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    color: #6b6767;
    clear: both;
    text-align: center;
    background-color:#2c2a2a;
    padding: 20px;
}

/* formatação de links */

#area-logo, #area-link-menu {
    padding: 10px;
}

a {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

.conteudo-postagem a:visited, .conteudo-postagem a:link{
  padding: 3px;
    font-size: 20px;
    color:#000000;

}

.conteudo-postagem a:hover {
    border-radius: 10px;
    transition: 1s;
    padding-left: 10px;
background: #985FF5;

}

.conteudo-postagem-b a:visited {
    border-radius: 20px 20px;
    font-size: 20px;
    color:#985FF5;
}


#area-cabecalho a:link, #area-cabecalho a:visited {
    padding-left: 10px;
    border-radius: 20px 20px;
    color: #ffffff ;
    padding:  8px 12px;
}

#area-cabecalho a:hover{
    padding-right: 30px;
    transition: 1s;
    background: linear-gradient(#985FF5 ,#924FFF);

}
/* #area-link-menu a:link, #area-link-menu a:visited{ 
    text-decoration: none;
     padding-bottom: 25px;
    color: white;

}*/



.conteudo-postagem-b a{
    padding-left: 9px;
}

/* .conteudo-postagem-b a{
padding-bottom

} */

.conteudo-postagem-b a:hover{
    transition: 1s;
    padding: 1px;
   color: #ffffff ;
   border-radius: 5px 5px;
   background: #944BE2;  
}
/* fim da formatação de links */

/* Formatação em geral */
.date-posting {
    font-size: 0.8em;
    display:block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid #944be2; 
}


.conteudo-postagem {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px;
    font-size: 1em;
    background: white;
    padding: 15px;
    border-radius: 40px 20px 40px;
    /* border-bottom: 1px solid #D7B8F8  ; */
}    

.conteudo-postagem-b {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
    font-size: 1em;
    background: white;
    padding: 10px 10px;
    border-radius: 50px 20px 50px;
    /* border-bottom: 1px solid #D7B8F8 ; */
} 

.fonte-cor-a {
    background:#944BE2;
    padding: 5px 4px;
    border-radius: 15px 10px;
    font-family: 'Merriweather Sans', sans-serif;
}

.fonte-cor-s {
    font-family: 'Merriweather Sans', sans-serif;
color:#ffffff ;
font-size: 1.4em;
}

h1 {
    font-size: 2em;
    font-family: 'Caveat', cursive;}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color:#260460 ;
}

h3 {
    border-radius: 40px 10px;
    text-align: center;
    font-size: 1.6em;
    padding: 10px;
    background:#8320ec ;
    color: #20053D;
}
.postagem {
    border-radius: 15px 15px;
    padding: 20px;
    margin: 20px;
    background: white;
}

h2~p {
    width: 570px;
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
}

h3~p{   

    font-size: 1em;
    width: 230px;
}
p>a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
}

