@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


::-webkit-scrollbar {
    width: 4px;

}

/* variáveis */
:root {
    /* cor de fundo e de textos nas miniaturas */
    --branco: #fff;

    /* cor do texto */
    --preto: #000;

    /* cor de fundo  */
    --roxo-escuro: #2B0060;

    /* cor de texto do botao */
    --preto-roxo: #0E0020;

    /* botao */
    --roxo: #7200FF;

    /*botao*/
    --verde: #8DFF00;

    /*texto-h2*/
    --verde-text: #A3CEBB;

    /* texto-h2 */
    --amarelo: #F9B459;

    /* texto-h2 */
    --rosa: #F4C7C6;
}

/* fim variáveis */

/* configurações-resets */
* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

/* fim configurações-resets */

body {
    /* background: #c33764;   
    background: -webkit-linear-gradient(to right, #c33764, #1d2671); */

    background: linear-gradient(to bottom, #ad5389, #3c1053);
    color: var(--preto);
    font-family: 'Poppins', sans-serif;
}

/* navbar e logo */

.container {
    background: var(--branco);
}

.container nav {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    background-color: var(--roxo);
}

nav a {
    margin: 5px;
    padding: 10px;

    border-radius: 4px;

    color: var(--branco);
    text-decoration: none;

    transition: ease-in-out 0.4s;
}

nav a:hover {
    background: var(--roxo-escuro);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 35px;
}

.copo-smile {
    width: 7%;
    height: 100%;
}

.love-color {
    color: var(--roxo)
}

.heart {
    width: 7%;
    height: auto;
    padding: 5px;
}

/* fim navbar logo */

/* conteudo e miniaturas */

.conteudo .container {
    display: flex;
    justify-content: end;
    align-items: center;

    padding: 30px;

    background: rgba(0, 0, 0, .4);
}

.coffe-min {
    transform: scaleX(-1);
    width: 25%;
}

.text-miniatura h2 {
    margin-top: 20px;
    margin-bottom: 10px;

    color: var(--branco);
    font-size: 35px;
}

.text-miniatura p {
    color: var(--branco);
    width: 70%;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
    padding: 14px;
    width: 50%;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    background: var(--verde);

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #000000be;

    transition: ease-in-out 0.7s;
}

.botao:hover {

    color: var(--preto-roxo);

    box-shadow: #7300ffa2 -20px 19px;
}

/* fim conteudo miniatura */

/* miniatura I em todos os botões */

.info-logo {
    margin-right: 10px;
}

/* fim miniatura I */


/* Conteudo miniatura 2 */

.coffe-min-2 {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 30px;

    background: rgba(0, 0, 0, .5);
}

.coffe-min-pink {
    width: 25%;
}

.text-miniatura-2 {
    display: flex;
    flex-flow: column;
    align-items: flex-end;

    text-align: end;

    color: var(--branco);
}

.text-miniatura-2 h2 {
    margin-top: 20px;
    margin-bottom: 10px;

    font-size: 35px;

    color: var(--rosa);
}

.text-miniatura-2 p {
    display: flex;
    width: 70%;

    color: var(--branco);
}

.coffe-min-2 .botao {
    display: flex;
    align-self: flex-end;
    justify-content: center;

    margin-top: 30px;
    padding: 14px;
    width: 50%;

    border: none;
    border-radius: 5px;

    cursor: pointer;
    background: var(--roxo);

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.747);

    transition: ease-in-out 0.7s;
}

.coffe-min-2 .botao:hover {

    color: var(--preto-roxo);

    box-shadow: rgba(140, 255, 0, 0.555) 20px 20px;
}


/* Fim conteudo 2 */

/* Conteudo texto e miniatura 3 */

.coffe-min-3 {
    display: flex;
    align-items: center;
    justify-content: end;

    padding: 30px;

    background: rgba(0, 0, 0, 0.6);
}

.coffe-min-orange {
    width: 25%;
}

.text-miniatura-3 {
    color: var(--branco);
}

.text-miniatura-3 h2 {
    margin-top: 20px;
    margin-bottom: 10px;

    color: var(--amarelo);
    font-size: 35px;
}

.text-miniatura-3 p {
    color: var(--branco);

    width: 70%;
}

.coffe-min-3 .botao {
    display: flex;
    align-self: flex-end;
    justify-content: center;

    margin-top: 30px;
    padding: 14px;
    width: 50%;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    background: var(--verde);

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.747);

    transition: ease-in-out 0.7s;
}

.coffe-min-3 .botao:hover {

    color: var(--preto-roxo);

    box-shadow: #7300ffa2 -20px 19px;
}


/* fim conteudo texto e miniatura 3 */

/* Conteudo texto e miniatura 4 */

.coffe-min-4 {
    display: flex;
    align-items: center;
    justify-content: end;

    padding: 30px;

    background: rgba(0, 0, 0, 0.7);
}

.coffe-min-green {
    width: 36%;
}

.text-miniatura-4 {
    display: flex;
    flex-flow: column;
    align-items: flex-end;

    text-align: end;

    color: var(--branco);
}

.text-miniatura-4 h2 {
    margin-top: 20px;
    margin-bottom: 10px;

    color: var(--verde-text);
    font-size: 35px;
}

.text-miniatura-4 p {
    width: 80%;
}

.coffe-min-4 .botao {
    display: flex;
    align-self: flex-end;
    justify-content: center;

    margin-top: 30px;
    padding: 14px;
    width: 55%;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    background: var(--roxo);

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.747);

    transition: ease-in-out 0.7s;
}

.coffe-min-4 .botao:hover {
    color: var(--preto-roxo);

    box-shadow: rgba(140, 255, 0, 0.555) 20px 20px;
}

/* fim conteudo texto e miniatura 4 */

/* conteudo adicional */

.informacao-adicional {
    display: flex;

    background: linear-gradient(to bottom, #2C152B, rgb(69, 44, 90));
    color: var(--preto-roxo);
}

.conteudo-adicional {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    text-align: center;

    background: #fff;
}

.conteudo-adicional h2 {
    margin-bottom: 20px;
}

.conteudo-adicional p {
    margin-top: 20px;
    width: 100%;

    font-size: 16px;
    letter-spacing: 1.7px;
}

.img-card-1,
.img-card-2,
.img-card-3 {
    width: 220px;
    height: 220px;

    padding: 25px;

    border-radius: 50%;
}

.card-1,
.card-2,
.card-3 {
    padding: 10px;

    filter: grayscale(1);

    transition: ease-in-out 0.3s;
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
    background: linear-gradient(0deg, rgb(43, 0, 96) 35%, #621fb4 100%);

    color: var(--branco);

    filter: grayscale(0);
}

.informacao-adicional .botao {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;

    text-align: center;

    position: relative;

    background: transparent;

    border: 1px solid #000;
    border-radius: 20px;

    color: var(--preto);

    transition: ease-in-out 0.3s;
}

.conteudo-adicional .botao:hover {
    width: 75%;
    padding-top: 15px;
    padding-bottom: 15px;

    box-shadow: none;

    border: none;

    background: var(--branco);

    color: var(--preto);

}

/* fim conteudo adicional */