@media (max-width: 1024px) {

    .container {
        width: 90%;
    }


}

@media (max-width: 650px) {

    header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    

}